.text-muted li {
    display: inline-block;
    transform: none;
    padding: 10px;
    margin: 5px;
    border: 1px solid rgb(156, 152, 152);


}

.text-muted li:hover {
    background-color: #fd9d3e;
    color: #fff;
}


input[type="radio"] {

    -webkit-appearance: none;
    appearance: none;

    background-color: #fff;

    margin: 0;
}

.Qty {
    width: 50px;
    height: 45px;
    margin: 15px;
    border-radius: 0px;


}

.share li {
    display: inline-block;
    transform: none;
    padding: 0px;
    margin: 2px;
    border: 0px;
}

.share a {
    text-decoration: none;
    color: #000;
}

.share ul li:hover {
    background-color: #f7f6f5;
    color: #000;
}

.share a:hover {
    color: #fd9d3e;
    margin: 10px;
}

.btn {
    background-color: #fd9d3e;
    color: #fff;
    font-size: 20px;
    border-radius: 0px;
}
.cardViewOrder{
    width: 600px;
    
} 
.btn:hover {
    color: #fd9d3e;
    background-color: #fff;

}

.btn Handbag:hover {
    color: #fd9d3e;
}