ul li {
    display: inline-block;
    transform: none;
    padding: 10px;
    margin: 5px;
    border: 1px solid rgb(156, 152, 152);


}

ul li:hover {
    background-color: #fd9d3e;
    color: #fff;
}


input[type="radio"] {

    -webkit-appearance: none;
    appearance: none;

    background-color: #fff;

    margin: 0;
}

.Qty {
    width: 50px;
    height: 45px;
    margin: 15px;
    border-radius: 0px;


}

.btn {
    background-color: #fd9d3e;
    color: #fff;
    font-size: 20px;
    border-radius: 0px;
}

.btn:hover {
    color: #fd9d3e;
    background-color: #fff;

}

.btn Handbag:hover {
    color: #fd9d3e;
}