.MenuCard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
     
}

.menuBox {
    width: 350px;
    height: 450px;
    
    margin: 10px;
   position: relative;
}

.menu-detail li{
    display: inline-block;
    transform: none;
    padding: 5px;
}
.menuBox img:hover{
   position:relative;
   bottom: 10px;
}
#title{
text-transform: uppercase;
font-weight: bold;
padding-top: 6px;
}
#title:hover{
    color: #fd9d3e;
}
.orderNow{
    color: #fd9d3e;   
  
}
.orderNow:hover{
    color: #000;   
  
}
