.header{
    text-align: center;
    color: #fd9d3e;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    margin-bottom: 5px;
    font-size: 50px;
}
.header-tag{
    text-align: center;
  font-size: 70px;
    font-weight:bolder;
    margin-bottom: 30px;

}
form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
form .form-group{
    width:40vw;
    padding: 10px;
    margin: 10px;
    border-radius: 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
   
   
}
form .formSelect{
    width: 20vw;
}
